<html>
  <head>
    <link rel="stylesheet" href="/css/align.css">
  </head>
  <body>
    <form target="/" method="post" enctype="multipart/form-data">
      <h3>New Task</h3>
      <div class="title">
        <label>Title</label>
        <input type="text" name="title"/>
      </div>
      <br>
      <div class="description">
        <label>Description</label>
        <input type="text" name="description"/>
      </div>
      <br>
      <button type="submit">Submit</button>
    </form>
    {}
  </body>
</html>
